.font-carter-one {
    font-family: 'Carter One', cursive;
}  
.font-nanum-gothic {
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: rgb(247, 247, 247);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}